* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Darker Grotesque';
  font-size: 35px;
  color: rgb(0, 23, 56);
  background-color: rgb(216, 238, 232);
  padding: 16px;
}

.game-container {
  width: 484px;
}

.game-panel {
  background-color: rgb(43, 159, 226);
  border: 2px solid rgb(0, 23, 50);
}

.game-board {
  border: 2px solid rgb(48, 32, 3);
  position: relative;
}

h1 {
  font-size: 40px;
  padding: 2px;
}

.score {
  font-size: 32px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.end-game-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(240, 117, 70, 0.8);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
}

.btn {
  padding: 5px 20px 8px 20px;
  border: 2px solid rgb(0, 23, 50);
  font-size: 24px;
  font-family: 'Darker Grotesque';
  cursor: pointer;
  text-decoration-color: aquamarine;
  text-transform: capitalize;
  margin:  4px 2px;
  text-decoration: navy;
}

.btn {border-radius: 4px;}

.btn:hover {
  background-color: rgba(236, 207, 44, 0.26);
}

.hidden {
  display: none;
}
